body{
    background-image: url(Diseño\ sin\ título.png);
}

.carta{
    font-style: italic;
    font-size: 30px;
    background-color: rgba(173, 65, 206, 0.541);
    padding: 1vw 3vw;
    margin: 1vw 2vw;
    border-radius: 30px;
}

.titulo{
    font-size: 2cap;
}

.Resalto{
    font-size: 60px;
    color: rgb(183, 0, 255);
}

.final{
    font-size: 30px;
}
